/*corresponde para el registro de la pagina
 ./static/registro.css */
 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(19, 1, 1);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-section {
    background-color: rgb(236, 197, 241);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.terms {
    display: flex;
    align-items: center;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .register-section {
        padding: 15px;
    }

    .submit-btn {
        font-size: 14px;
    }
}
