/* este estilo es para index.html */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav  {
    Font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    }

body {
    color: #fff;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

h1, li {
    font-family: "Rock Salt", cursive;
    font-weight: 600;
    font-style: normal;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

#header-inicio {
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#registro {
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

#links {
    background-color: #000;
}

#inicio {
    
    color:#fff;
    margin-left: auto;
    margin-right: 20px;

}

#inicio a {
    color:#fff;
    text-decoration: none;
}

 /* Cambia el color del enlace visitado a blanco */
#inicio a:visited {
    color:#fff;
}
#inicio a:hover {
    text-decoration: underline;
}


/* ver porque no muestra, pero si muestra directamente en el index si se lo escribo 25-5-2024*/
#menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(29, 6, 6);
    background-image: url('../img/fondo_rock.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
/* PIE DE PAGINA*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer section {
    margin: 5px 0;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
  
/* para tables*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2{
        font-size: 4vw;
    }

}

/* para celulares */
@media screen and (max-width:767px){
    h2{
        font-size: 3vw;
    }

    #footer{
        flex-direction: column;
        justify-content: center;
    }
}
